<div class="navbar d-flex w-100">
  <div class="logo-container">
    <picture>
      <source
        srcset="../../../assets/img/logoLegalmovil.webp"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="../../../assets/img/logoLegal@2x.jpg"
        media="(min-width: 768px)"
      />
      <source srcset="../../../assets/img/logoLegalpc.webp" type="image/webp" />
      <img
        src="../../../assets/img/logoLegalmovil.webp"
        alt="Logo de LegalTech, Abogados Digitales SAS"
        class="logo absolute-position"
        loading="lazy"
      />
    </picture>
    <div class="text-container">
      <h2 class="company-name absolute-position">LEGALTECH</h2>
      <p class="company-desc absolute-position">ABOGADOS DIGITALES S.A.S</p>
    </div>
  </div>
  <ul class="menu">
    <li class="menu-item h-100">
      <a href="#" class="link d-flex align-items-center justify-content-center"
        >Inicio</a
      >
    </li>
    <li class="menu-item h-100">
      <a href="#" class="link d-flex align-items-center justify-content-center"
        >Servicios</a
      >
    </li>
    <li class="menu-item h-100">
      <a href="#" class="link d-flex align-items-center justify-content-center"
        >Nuestra firma</a
      >
    </li>
    <li class="menu-item h-100">
      <a href="#" class="link d-flex align-items-center justify-content-center"
        >Contactos</a
      >
    </li>
  </ul>
  <button class="menu-button" aria-label="Abrir menú">
    <svg
      width="33"
      height="25"
      viewBox="0 0 33 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="9" width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="18" width="33" height="7" rx="3.5" fill="#EEACFF" />
    </svg>
  </button>
</div>
