@use "@assets/colors.scss" as *;
#footer-content {
  background: $color-footer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: $color-black;
  .logo {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: -16px;
    .imgLogo{
      width: 58px;
    }
    .text-container {
      margin-left: -12px;
      .company-name {
      
        font-size: 29px;
        line-height: 16px;
        font-weight: 800;
      }
      .company-desc {
        font-weight: 400;
        font-size: 11.37139px;
        line-height: 7px;
        margin: 0;
      }
    }
  }

  .socialMedia {
    margin-top: 23px;
    .text{
      font-size: 19px;
    }
    .list-social {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 5px;

      a:focus,
      a:hover {
        opacity: 0.8;
      }
    }
  }
}
